.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.vscode/settings.json
portalturret-draft/
audio/out/
audio/ffmpeg/
audio/*.mp3
audio/*.wav
audio/audio.7z
audio/english
audio/german
audio/french
audio/spanish
audio/russian
fs
*.bin
mkfsimg.py
