html,
body {
    font-size: 20px;
    padding: 0;
    margin: 0;
}

body {
    background-color: #744d19;
    background-position: center center;
    background-image: url("background.png");
    background-size: 100% 100%;
    padding: 20px;
}

#main-content {
    position: relative;
    border: 3px solid #a88438;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.error #main-content {
    border-color: #FF0000;
}

#log {
    position: absolute;
    top: 20px;
    bottom: 75px;
    overflow-y: hidden;
}

.manual #log {
    bottom: 200px;
}

#manual-controls {
    display: none;
}

.manual #manual-controls {
    display: block;
}

.manual #controls {
    display: none;
}

#controls, #manual-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

#button-override {
    width: 200px;
}

#controls.hidden, #manual-controls.hidden {
    display: none;
}

pre {
    color: #a88438;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    margin: 0 0;
    width: 100%;
}

#aperture-logo {
    background-color: #4b3317;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 3px solid #a88438;
    background-image: url("aperture_logo.png");
    width: 150px;
    height: 150px;
    background-size: contain;
}

#accel-canvas {
    background-color: #4b3317;
    border: 3px solid #a88438;
    background-size: contain;
    position: absolute;
    top: 10px;
    right: 180px;
    height: 150px;
}

.control-button {
    color: #a88438;
    font-family: "Courier New", Courier, monospace;
    background-color: transparent;
    border: 3px solid #a88438;
    padding: 3px;
    background-size: contain;
    font-size: 20px;
    height: 75px;
    width: 75px;
    font-weight: bold;
    margin: 3px;
}

.control-button:disabled {
    opacity: 0.2;
}

#button-wings, #button-automatic {
    width: 150px;
}

.state-button.selected {
    background-color: #725820;
}

#button-fire {
    border-color: #FF0000;
    background-color: #660000;
    color: #FF0000;
}

.diagnose-button {
    background-color: transparent;
    border: 3px solid #a88438;
    color: #a88438;
    font-size: 20px;
    display: block;
    font-weight: bold;
    padding: 10px; 
    margin: 3px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-aspect-ratio: 2/3) {
    #aperture-logo {
        display: none;
    }
    #accel-canvas {
        display: none;
    }
} 